BOT_TOKEN=your_token_here
MINECRAFT_DIR=full_path_to_minecraft_server
RCON_PASSWORD=your_rcon_password_here
BACKUP_SCHEDULE=daily
BACKUP_HOUR=4
BACKUP_DIR=~/minecraft_backup
BACKUP_COPY_CMD=
INCREMENTAL_BACKUP_ENABLED=false
INCREMENTAL_INTERVAL_MINUTES=15
